.views-admintools-settings-form {
  .vat-options-inline {
    label {
      display: inline-block;
      min-width: 100px
    }

  }

  .icon-set-title {
    min-width: 200px;
    display: inline-block;
    padding-right: 20px;
  }

  details summary {
    padding: 0.95em 1.45em;
    background-color: whitesmoke;
    border-top: 1px solid silver;
  }

  caption {
    margin: 5px 0;
  }
}
